body {
    position: absolute;
    background-color: var(--\@chocolatelibui\/contextmenu\/background);
    inset: 0;

    >div {
        width: 12rem;
        height: 6rem;
        margin: 1rem;
        background-color: pink;
    }
}